<%- include('header.ejs') -%>

<div class="abs2">
    <video autoplay loop muted>
        <source src="/videos/vid1.mp4" type="video/mp4">
    </video>
</div>
<div class="abs">
<video autoplay loop  muted>
    <source src="/videos/vid2.mp4" type="video/mp4">
</video>
</div>
<img src="img/logo.png" alt="Logo" class="logo">
<p class="webspace">s</p>
<img class="arrow" src="/img/arrow.png" alt="Arrow">
<script src="/javascript/landing.js"></script>
<h2 class="titleLanding">COACH LORIS</h2>
<%- include('main.ejs') -%>
<%- include('services.ejs') -%>
<%- include('avis.ejs') -%>
<%- include('rdv.ejs') -%>